.carrosel__titulo {
    background-color: var(--branco-primario);
    color: var(--laranja);
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    padding: 1em 0 1em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-pagination-bullet-active {
    background-color: #002F52 !important;
}


.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
    align-items: center;
}

.card {
    background-color: var(--branco-primario);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.5em;
    padding: 1em;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;
}

.descrição__texto {
    font-size: 0.875rem;
    margin-right: 1em;
}

.botões__item {
    margin: 0 0.5em;
}
.botões__item2 {
    margin: 0 0.5em;
}

.botões__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco-primario);
    font-weight: 700;
    text-decoration: none;
}

.card__favorito {
    display: none;
}

.botões__imagem {
    width: 38px;
}

.botões__imagem2 {
    width: 36px;
}

.descrição__estrela {
    margin-bottom: 0.5em;
}


@media screen and (min-width: 1024px) {
    .carrosel__titulo {
        font-size: 1.625rem;

    }


    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__container {
        display: flex;
        margin: 0 15vw 3em 15vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0
    }

    .swiper {
        width: 50%;
    }


    .botões__imagem,
    .botões__imagem2 {
        cursor: pointer;
    }

    .descrição__titulo {
        font-size: 2rem;
    }

    .descrição__texto {
        font-size: 1rem;
    }
    
    .descrição {
        margin-right: 2em;
    }

    .card {
        width: 60%;
        margin-left: 4em;
    }

    .swiper-slide {
        transition: transform 0.3s ease;
    }

    .swiper-slide:hover {
        transform: scale(1.05);
    }

    .botões__ancora {
        transition: transform 0.3s ease;
    }

    .botões__ancora:hover {
        transform: scale(1.1);
    }


}